
   body{width: 1423px;background-image: url(images/bgc_02.jpg);background-repeat:repeat-x;}
   nav .home{display: block;background-color:#c32300;}
   nav .home a{color:#ffffff;}
   section{width: 1200px;margin:0 auto;overflow: hidden;border: 1px solid green;margin-top: 220px;}
   section .main-top, .main-bottom{float: left; width: 1200px;border: 1px red solid;}

   .main-top .left{float:left;}
   .main-top .left h3, .main-bottom h3{padding-left: 60px;font-size:20px;font-family: Arial, Helvetica, sans-serif;font-weight:lighter;color:#272727;padding-top: 4px;}
   .main-top .left ul{font-size:16px;font-family: Arial, Helvetica, sans-serif;line-height: 32px;padding-left: 48px;padding-top: 18px;}
   .main-top .left ul li{background-image: url(images/marker-1.gif);background-repeat: no-repeat;padding-left: 14px;background-position: left center;}
   .main-top .left ul li a{color:#808080;}
   .main-top .left span a,.main-bottom .article span a{color:#ffffff;font-size:18px;font-family: Arial, Helvetica, sans-serif;display:block;width: 130px;height: 36px;font-family:Arial, Helvetica, sans-serif;text-align:center;background-color: #d43400;line-height:36px;font-weight: lighter;}
   .main-top .left span a{margin-left: 66px;margin-top: 30px;}
   .main-top .center h3{padding-top:4px;font-size:20px;font-family: Arial, Helvetica, sans-serif;font-weight:lighter;color:#272727;}
   .main-top .center,.main-top .right{float:left;margin-left: 60px;}
   .main-top .center p,.main-top .right p{padding-top:18px;color:#808080;font-size:16px;font-family: Arial, Helvetica, sans-serif;line-height: 32px;}
   .main-top .center p span,.main-top .right p span{color:#d43400;}
   .main-top .right {padding-top: 27px;}

   .main-bottom{margin:48px 0px;}
   .main-bottom .img{float:left;margin-left:60px;margin-right:27px;margin-top:20px;width: 240px;height: 185px;background-image: url(images/page2-img1.jpg);}
   .main-bottom .article div{padding-top:10px;color:#d43400;font-size:16px;font-family: Arial, Helvetica, sans-serif;}
   .main-bottom .article p{padding-top:4px;color:#808080;font-size:16px;font-family: Arial, Helvetica, sans-serif;line-height: 26px;}
   .main-bottom .article .bot{float:left;margin-top: 16px;}

   
  